/* .history-main {
    background-image: url("../assets/image/history/history-bg.svg");
} */

.img-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    height: 100%;
    width: 100%;
}

.select-year-option {
    display: none;
}

.img-background img {
    position: absolute;
}

.img-background .main-bg-1, .main-bg-2 {
    width: 100%;
}

.img-background .main-bg-2 {
    display: none;
}

.img-background .main-bg-3 {
    display: none;
}

.img-background img.rectangle-top {
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1;
}

.img-background img.rectangle-bottom {
    bottom: 0;
    right: 0;
    width: 30%;
    z-index: 1;
}

.bottom-content {
    margin-top: -140px;
    margin-bottom: -300px;
}

.bottom-content .gradient {
    background: linear-gradient(180deg, #F3F7FC 0%, #FFFFFF 40.52%, rgba(255, 255, 255, 0.06) 100%);
    height: 100px;
}
.bottom-content .content-timeline-wrapper-footer {
    background-image: url("../assets/image/history/our-history-bg-2.png");
    height: 700px;
    background-repeat: round;
    margin-top: -30px;
}

.history-main .menu a, .dropdown-menu, .chevron {
    color: #FFFFFF
}

.history-main .menu .btn {
    color: #FFFFFF
}

.menu .link::before, .link-dropdown span::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: #FFFFFF;
    transition: all .3s ease;
}

.history-main .history-banner .text-title{
    margin: 85px auto 0;
    text-align: center;
}

.history-main .history-banner .text-title .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 23px;
}


.history-main .history-banner .text-title .subtitle {
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.history-main .history-banner .text-title .description{
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    max-width: 890px;
    margin: 0 auto;
}

.history-main .history-timeline {
    /* margin-top: 260px; */
    margin-top: 320px;
}

/* SIDEBAR LEFT */

.history-main .history-timeline .navigate {
    overflow: auto;
    height: 100vh;
}

.history-main .history-timeline .navigate::-webkit-scrollbar {
    display: none;
  }

.history-main .history-timeline .navigate a {
    text-decoration: none;
}

.history-main .history-timeline .navigate h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 40px;
}

.history-main .history-timeline .navigate .years {
    margin-bottom: 16px;
}

.history-main .history-timeline .navigate .years:last-child {
    margin-bottom: 80px;
}

.history-main .history-timeline .navigate .years .year {
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #3A4B6C;
    opacity: .6;
    cursor: pointer;
}

.history-main .history-timeline .navigate .years img {
    display: none;
}

.history-main .history-timeline .navigate .years.active .year {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #394A6C;
    margin-left: 20px;
    opacity: 1;
    transition: all 0.3s ease;
}
.history-main .history-timeline .navigate .years.active img {
    display: block;
    transition: all 0.4s ease;
 }

 /* CONTENT */

.history-main .history-timeline .timelines {
    border-left : 1.5px dashed #B5B9BD;
}

.history-main .history-timeline .timelines .timeline-content {
    padding-top: 72px;
}

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper {
    display: flex;
    margin-left: -20px;
    margin-bottom: 48px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .check-point .checkpoint-started {
    background-color: #FFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 12px 30px rgba(0, 0, 0, 0.05));
    margin-right: 36px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .check-point .checkpoint-record {
    background-color: #FFF;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    border: 1px solid #8FE2FF;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 12px 30px rgba(0, 0, 0, 0.05));
    margin-right: 28px;
    margin-left: -10px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .check-point .checkpoint-started .blue {
    background-color: #1BB0F4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .icon-record {
    background-color: #1BB0F4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 12px 30px rgba(0, 0, 0, 0.05));
    margin-right: 16px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .year {
    font-size: 18px;
    line-height: 36px;
    color: #394A6C;
    margin-bottom: 16px;
 }

 .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 16px;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 40px;
}
.history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content a {
    color: #394A6C;
}
.history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 40px;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content img {
    width: 80%;
    object-fit: cover;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content {
    padding: 0 0 31px 64px;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 32px;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #394A6C;
}

.history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .cta button {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 20px 30px;
    background: #1BB1F4;
    border-radius: 4px;
    border: none;
    margin-left: -100px;
}

.records-sidebar-md {
    display: none;
}

 .history-main .history-timeline .records h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #394A6C;
    margin-bottom: 40px;
 }

 
 .history-main .history-timeline .records .record-wrapper .record-item {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
 }

 .history-main .history-timeline .records .record-wrapper .record-item .img-wrapper {
    padding: 23px;
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(57, 74, 108, 0.15);
    border-radius: 50%;
    margin-right: 24px;
 }

.history-main .history-timeline .records .record-wrapper .record-item .count {
    font-weight: 400;
    font-size: 64px;
    line-height: 58px;
    color: #394A6C;
    margin-right: 20px;
    white-space: nowrap;
}
.history-main .history-timeline .records .record-wrapper .record-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #394A6C;
    opacity: 0.7;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .img-background .main-bg-1 {
        display: none;
    }

    .img-background .main-bg-3 {
        display: none;
    }

    .img-background .main-bg-2 {
        display: block;
        width: 100%;
    }

    .img-background img.rectangle-top {
        top: 0;
        left: 0;
        width: 55%;
        z-index: 1;
    }

    .records-sidebar-lg {
        display: none;
    }

    .history-main .history-banner .text-title {
        margin-top: 50px;
        max-width: 518px;
    }

    .history-main .history-banner .text-title .subtitle {
        font-size: 40px;
    }

    .history-main .history-banner .text-title .description {
        font-size: 14px;
    }

    .history-main .history-timeline {
        margin-top: 230px;
    }

    .history-main .history-timeline .navigate .years.active .year {
        font-size: 20px;
    }

    .history-main .history-timeline .navigate .years .year {
        font-size: 14px;
        line-height: 32px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .year {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .subtitle {
        font-size: 15px;
        margin-bottom: 28px;
    }

    .records-sidebar-md {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 16px 0;
        box-shadow: 0px -80px 80px rgba(57, 74, 108, 0.07);
    }

    .records-sidebar-md .record-wrapper {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .records-sidebar-md .record-wrapper .record-item {
        display: block !important;
        max-width: 75px;
        margin-bottom: 0px !important;
    }

    .history-main .history-timeline .records .record-wrapper .record-item .count {
        font-size: 48px;
        margin: 0;
        margin-bottom: 12px;
    }
    .history-main .history-timeline .records .record-wrapper .record-item .desc {
        font-size: 16px;
        opacity: .7
    }

}

@media only screen and (max-width: 500px) {
    .img-background .main-bg-1 {
        display: none;
    }

    .img-background .main-bg-3 {
        display: block;
        width: 100%;
    }

    .img-background .main-bg-2 {
        display: none;
    }

    .history-main .history-banner .text-title {
        text-align: left;
        margin-top: 20px;
    }

    .history-main .history-banner .text-title .title {
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .history-main .history-banner .text-title .subtitle {
        font-size: 32px;
        line-height: 32px;
    }

    .history-main .history-banner .text-title .description {
        text-align: left;
        font-size: 18px;
        line-height: 32px;
    }

    .history-main .history-timeline .navigate {
        display: none;
    }

    .history-main .history-timeline .timelines .timeline-content {
        padding-top: 0;
    }

    .history-main .history-timeline .timelines {
        margin-left: 12px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper {
        margin-bottom: 40px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .check-point .checkpoint-started {
        margin-right: 20px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .year {
        font-size: 14px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .title {
        font-size: 16px;
        line-height: 26px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content .subtitle {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .content-wrapper .content img {
        width: 100%;
    }

    .records-sidebar-md {
        padding: 15px 0;
    }

    .history-main .history-timeline .records .record-wrapper .record-item .count {
        font-size: 24px;
        line-height: 34px;
    }

    .history-main .history-timeline .records .record-wrapper .record-item .desc {
        font-size: 12px;
        line-height: 18px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content {
        padding: 0 0 30px 40px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content .title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .content .subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .cta {
        padding: 0 0 30px 40px;
    }

    .history-main .history-timeline .timelines .timeline-content .box-wrapper .planning-the-future .cta button {
        margin-left: 0;
    } 

    .bottom-content .content-timeline-wrapper-footer {
        height: 600px;
    }

    .select-year-option {
        display: block;
        margin-bottom: 32px;
    }

    .select-year-option .selected-year {
        padding: 2px 30px;
        background: #fff;
        width: 118px;
        border-radius: 30px;
        border: 1px solid #8FE2FF;
        box-shadow: 0px 20px 50px rgba(57, 74, 108, 0.05);
        text-align: center;
        font-size: 18px;
        line-height: 36px;
    }
}